@import "tailwindcss";

body {
  color: #fff;
  background: #0a0a0a;
}

@media print {
  body * {
    visibility: hidden;
  }

  #resume-preview-content,
  #resume-preview-content * {
    visibility: visible;
  }

  #resume-preview-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    min-height: 297mm;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: white;
  }

  @page {
    size: A4;
    margin: 0;
  }
}